$primary-text-color: #757575;
$title-text-color: #212121;
$accent: #2196f3;
$wight-color: #ffffff;
$black-color: #000000;
$bakground-color-hero: #2f303a;
$bakground-color-fon: #C4C4C4;
$bakground-color-btn: #f5f4fa; 
$color-icon:  #AFB1B8;